<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2>PULSE - Pointage Car</h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input [formControl]="login" class="form-control validation-field" placeholder="Login" type="text">                      
                        <small class="text-danger" *ngIf="form.get('login').touched && form.get('login').hasError('required')">Login requis</small>                              
                        <small class="text-danger" *ngIf="form.get('login').touched && form.get('login').hasError('login')">Login invalide</small>
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Mot de passe" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Mot de passe requis</small>                              
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Mot de passe invalide</small>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-block" type="submit">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>